.App {
  text-align: center;
}

main{
  display: flex;
  flex-direction: row;
}

h1{
  text-align: center;
}

section{
  margin: 10px;
}

.folderList{
  width: 25%;
}

.noteList{
  width: 65%;
}

.errorPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
